<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yara Naafs</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="main">
            <div id="home" class="header-wrapper">
                <!-- <div class="main-logo"><img src="images/logo.jpg" alt="logo"></div> -->
                <nav>
                  <ul class="main-menu">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">projects</a></li>
                    <li><a href="#footer">Contact</a></li>
                  </ul>
                </nav>
            </div>
            <div id="about" class="home flex">
                <div>
                    <h2>Hi i'm Yara Naafs</h2>
                    <p>I am a 19 year old self-taught developer, I started coding around 14 years old. <br>i also recently got a 3d-printer and have been learning to 3d-model and print.</p>
                    <h2>My skills</h2>
                    <p>I started my coding journey by learning python i made some discord bots using python and tried a desktop app, <br>currently i am learning web development and this is my first website.</p>
                </div>
                <div>
                    <img src="images/logo.jpg" alt="logo">
                </div>
            </div>
            <hr>
            <div id="projects" class="projects">
                <h2>Previous projects</h2>
                <div class="timeline">
                    <div class="tm-container left">
                      <div class="tm-content">
                        <h5>Personal website</h5>
                        <p>This website is my first ever public website where i can showcase my skills and projects.</p>
                        <p class="date">11-16-2022</p>
                      </div>
                    </div>
                    <div class="tm-container right">
                      <div class="tm-content">
                        <h5>Undertale RPG</h5>
                        <p>Undertale RPG is a discord bot that lets you play the undertale game in discord. It has a full fight system that lets users attack monsters to earn rewards that they can use to buy new items.</p>
                        <p class="date">06-19-2022</p>
                      </div>
                    </div>
                </div>
            </div>
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                    </g>
                </svg>
            </div>
            <div id="footer" class="footer-bg">
                <div class="footer flex">
                    <div>
                        <img src="images/logo.jpg" alt="logo">
                    </div>
                    <div>
                        <a href="https://github.com/yakirarage" target="_blank" class="button">Github</a>
                        <br>
                        <a href="https://www.linkedin.com/in/yara-naafs-3184b6257/" target="_blank" class="button">Linkedin</a>
                        <br>
                        <a href="https://discord.com/users/536538183555481601" target="_blank" class="button">Discord</a>
                        <br>
                        <a href="https://www.instagram.com/yara_naafs/" target="_blank" class="button">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>